.list {
  @apply w-full h-full flex justify-center items-center flex-col;
}
.list h4{
    @apply block h-10 font-bold bg-white w-full leading-10 text-center 
}
.foodList {
  @apply flex w-full px-10 gap-5 mt-10;
}
.food {
  @apply flex w-[200px] h-[400px] flex-col items-center border-[1px] border-slate-900 bg-white rounded-lg p-5;
}
